@page "/league/{LeagueId:int}"
@using SoccerDBWebApp.Shared.Models.League
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation

<h2>@league.Name</h2>

<br />

@if(league != null)
{
    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>League Details</span>
            </div>
            <div class="card-body">
                <img src="@league.LeagueLogoImage" alt="@league.Name photo" />
            </div>
            <div class="card-body">
                <p class="card-text">Country: @league.Country</p>
                <p class="card-text">Domestic Tier Level: @league.TierLevel</p>
            </div>
        </div>

        <br />

        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>Current Clubs</span>
            </div>
            <div class="card-body">
                @if (league.Clubs != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>City</th>
                                <th>Manager</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var club in @league.Clubs)
                            {
                                <tr>
                                    <td><a href=@($"club/{club.Id}")>@club.Name</a></td>
                                    <td>@club.City</td>
                                    <td>@club.Manager</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="card-text">League has no current club information yet.</p>
                }
            </div>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <div class="text-center justify-content-between w-25">
                <a href=@($"/league/edit/{LeagueId}") class="btn btn-outline-primary">Edit League Details</a>
                <a href=@($"/league/delete/{LeagueId}") class="btn btn-outline-primary">Delete League</a> 
                <hr/>
                <a href="/league">Back to League Index</a>
            </div>
        </div>
    </div>
    
}
else
{
    <p>Loading...</p>
}


@code {

    [Parameter]

    public int LeagueId { get; set; }

    private LeagueDetail league = new();

    protected override async Task OnInitializedAsync()
    {
        league = await http.GetFromJsonAsync<LeagueDetail>($"/api/league/{LeagueId}");
    }
}
