@page "/careerHistory/{CareerHistoryId:int}"
@using SoccerDBWebApp.Shared.Models.CareerHistory
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation

<h3>Career History Item</h3>

@if(careerHistory != null)
{
    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>@careerHistory.PlayerName</span>
            </div>
            
            <div class="card-body">
                <p class="card-text">@careerHistory.ClubName</p>
                <p class="card-text">@careerHistory.IsCurrentlyPlayingFor</p>
                <p class="card-text">@careerHistory.StartYear</p>
                <p class="card-text">@careerHistory.EndYear</p>
                <p class="card-text">@careerHistory.Appearances</p>
                <p class="card-text">@careerHistory.Goals</p>
                <p class="card-text">@careerHistory.PlayerId</p>
                <p class="card-text">@careerHistory.ClubId</p>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="text-center justify-content-between w-25">
                <a href=@($"/careerHistory/edit/{CareerHistoryId}") class="btn btn-outline-primary">Edit</a>
                <a href=@($"/careerHistory/delete/{CareerHistoryId}") class="btn btn-outline-primary">Delete</a> 
                <hr/>
                <a href="/careerHistory">Back to Career History Index</a>
            </div>
        </div>
    </div>
    
}
else
{
    <p>Loading...</p>
}


@code {

    [Parameter]

    public int CareerHistoryId { get; set; }

    private CareerHistoryDetail careerHistory = new();

    protected override async Task OnInitializedAsync()
    {
        careerHistory = await http.GetFromJsonAsync<CareerHistoryDetail>($"/api/careerHistory/{CareerHistoryId}");
    }
}
